# Dependencies
node_modules/
CLIENT/node_modules/
SERVER/node_modules/

# Build output
build/
CLIENT/build/
SERVER/build/

# VS Code
.vscode/
CLIENT/.vscode/
SERVER/.vscode/

# Environment files
.env
CLIENT/.env
SERVER/.env

# Logs
*.log