.note {
    position: relative;
    background: #feff9c;
    height: 10em;
    color: black;
    padding: 1em;
    width: 10em;
    margin: 1em;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transform : rotate(-6deg);
    z-index: 1; 
    transition: all ease 0.3s;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.note:nth-child(even)
{
    background: #7afcff;
    transform: rotate(4deg);
    position: relative;
    top: -5px;
}
.note:nth-child(3n)
{
    background: #ff7eb9;
    transform: rotate(-3deg);
    position: relative;
    top: 5px;
}

.note:hover,
.note--focused{
    transform: scale(1.5);
    z-index: 5;
     box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.note .btn-close{
    position: absolute;
    top:4px;
    right: 4px;
}

.App .add-button{
    position: fixed;
    bottom: 80px;
    right: 80px;
    border-radius: 50%;  
    font-size: 32px;
    width: 50px;
    height: 50px;   
    display: flex;
    align-items: center;
    

}
.App .add-button .add-button-text{
    position: relative;
    bottom: 4px;
    left: 1px;
}

.note__text{
    flex:1;
    outline: none;
    margin-top: 10px;
}
.note__link{
    display: none;
}
